<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Dodaj nowy kontakt</h3>
              <form [formGroup]="newContactGroup">

              <div class="form-outline mb-4">
                    <input class="form-control form-control-lg"  formControlName="nameCtrl" matInput placeholder="Imie" >
              </div>
              <div class="form-outline mb-4">
                    <input class="form-control form-control-lg"  formControlName="surnameCtrl" matInput placeholder="Nazwisko" >
              </div>
              <div class="form-outline mb-4">
                    <mat-label>Wybierz datę urodzenia: </mat-label>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <input readonly  class="form-control form-control-lg"  formControlName="bdayCtrl" matInput [matDatepicker]="picker">
              </div>
              <div class="form-outline mb-4">
                <label for="formFileLg" class="form-label">Wybierz zdjęcie</label>
                <input formControlName="photoCtrl" class="form-control form-control-lg" id="formFileLg" type="file" accept="image/jpeg" (change)="onFileChange($event)">
                <img class="avatar" [src]="imageShow"> <br/>
              </div>
              <button class="btn btn-primary btn-lg btn-block" [disabled]="newContactGroup.invalid" (click)="onSubmit()">Dodaj</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>